body {
    font-family: Arial, sans-serif;
    padding: 40px;
    background: #f4f4f4;
    background-image: url('/img/background.gif');
    background-size: cover;
    background-position: center center;
}

.quiz-container {
    background-color:transparent;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height:510px;
    color:#fff;
}
.report-container {
    background-color: transparent;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 530px;
    color: #fff;
}
h2 {
    margin-bottom: 20px;
}
.answer-button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    height: 75px;

}
.answer-button:hover {
    background-color: #d5d5d5;
 }

#number-question, #question, #motivation-report, #score-report, #time-report ,h2 {
    text-align: center;
}
#time-report {
    list-style: none;
    padding-left: 0;
}
 .hidden {
        display: none;
 }
#next-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
}

button.replay-btn {
    background-color: rgb(244, 67, 54);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
}
#result-image {
    width: 200px;
    display: block;
    margin: 20px auto;
    height: 250px;
}
