<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyApp</title>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Let's take a quiz on my ASP.NET Core web app!</a>.</p>
    <button class="start-btn" onclick="window.location.href='@Url.Action("Quiz", "Quiz")'">Start Quiz</button>
</div>
